.menu-button_type_set-date{
    display: flex;
    padding: 10px;
    height: 35px;
    align-items: center;
    justify-self: center;
}

.menu-button_text {
    margin: 0 15px 0;
}

.calendar-logo {
    width: 20px;
    height: 20px;
}